.nav {
  position: absolute;
  top: 0;
  margin-top: 1rem;
  left: 8rem;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  gap: 12rem;
}

.search {
  display: flex;
  align-items: center;
  background-color: #2b2b2b;
  padding: 4px;
  border-radius: 5px;
}

::placeholder {
  font-weight: 500;
}

input {
  width: 4rem;
  background-color: #2b2b2b;
  outline: none;
  border: none;
  color: aliceblue;
}

label {
  font-size: 1.5rem;
  display: flex;
}

.ul-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.nav-items {
  display: flex;
  align-items: center;
  background-color: #2b2b2b;
  font-size: 1.2rem;
  height: 2rem;
  width: 6rem;
  border-radius: 5px;
}

.navv-items {
  height: 2rem;
  width: 8rem;
  font-size: 1.2rem;
  background-color: #2b2b2b;
  border-radius: 5px;
}

.nav-itemss {
  height: 2rem;
  width: 8rem;
  font-size: 1.2rem;
  background-color: #2b2b2b;
  border-radius: 5px;
}

.nav-items:hover {
  width: 6rem;
  background-color: #ff9637;
}
.navv-items:hover {
  width: 8rem;
  background-color: #ff9637;
}

.nav-itemss:hover {
  width: 8rem;
  background-color: #ff9637;
}

.profile-img {
  display: flex;
  align-items: center;
  border-radius: 3rem;
  border: 2px solid #ff9637;
}
